
.category-title {
  font-family: var(--Raleway);
  font-size: 42px;
  font-weight: 400;
  line-height: 160%;
  text-transform: capitalize;
  margin: 1.7em 1.3em;
  color: var(--c-text);
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3.2em 1.7em;
  margin-bottom: 6rem;
}
